; Mandatory attributes which is used to select the right test plugin.
[TESTCASE_HEADER]
; The test group name is used in the html report as a groupe ID for the underlying test(s)
; Format is <GrpName>.<SubGrpName>  The Sub groupe name can be used if there are multiple modules to be tested for the same groupe
test_group_name = ip_lib.can_bus_controller_fd

; ****************************************************************************
; Plugin simulation setup
; ****************************************************************************
[RIVIERA_PRO_SETUP]
; State setting. Defines what state the test is in.
; three states can be used
; Init - Start state, test will not be included in the report
; In-progress - test will be included but put under its own grouping defining that its in progress
; Done - Will be included in the test report as a finished test.
state = Done

; Set module name for both vhdl, sim and top file name.
module_name = can_mac_tx

; Add all the libraries that are needed for the simulation
; The location of the compiled libraries are either defined in the settings file or is an environment variable.
; Only the tool name and/or the version number is needed. The plugin will resolve the path based on the above information.
; If no version number is given the version defined in the settings file is used IE the path to the tool.
; Format is a python list of tuples: [('tool_name', 'version'),..] or [('tool_name',),..].
;    OBS names must match the settings file for tool paths (not including the _path part)
; Multiple libraries can be added by adding more tuples to the list, but be aware of libraries with conflicting libraries names such as quartus and quartus pro.
# tool_libs = [('quartus',''),('vivado',''),('osvvm','')]
tool_libs = [('osvvm','')]

; ****************************************************************************
; Plugin Coverage Setup
; ****************************************************************************
[COVERAGE_SETUP]
; State setting. Defines what state the test is in.
; three states can be used
; Init - Start state, test will not be included in the report
; In-progress - test will be included but put under its own grouping defining that its in progress
; Done - Will be included in the test report as a finished test.
state = Done

; Indicate if this Task should be executed after the defined task and its state,
; Its defined after current format. <path_to_testcase>:<PLUGIN_SETUP>:<PLUGIN_VER>:<STATE>
; If the setup is local the path_to_testcase is not needed.
; If Plugin Version is not set. It automatically compares to the first instance of the <PLUGIN_SETUP> it finds.
; Use PLUGIN_VER. If more than one version of a <PLUGIN_SETUP> is used in the target config file.
; Available states:
;   any      - Runs regardless of the state of dependsie
;   success  - Run only if the dependencies is a success IE without any failure - Default
; use the blow variable with pathing to the correct test configuration
; FX: <${{VARIABLES:workspace}}/path/to/config/config_name.cfg>:<PLUGIN_SETUP>:<PLUGIN_VER>:<any|success>  - For full reference
;     :<PLUGIN_SETUP>:<PLUGIN_VER>:<any|success>                                                           - For local reference with status
;     :<PLUGIN_SETUP>:<PLUGIN_VER>                                                                         - For local will use the default state "success"
; Leave empty if no dependcie is required
depend_on = :RIVIERA_PRO_SETUP::

; Set the path to the plugin which is used to generate the ACDB file.
; This is usually the simulation plugin located in the same root workspace as the coverage plugin.
; The format is plugin name and version number with underscore : ex simulation_1_0
acdb_plugin = riviera_pro_1_0

; Disable the check for toggle coverage
; Default false
disable_toggle = false

; Set module name for both vhdl, sim and top file name.
module_name = can_mac_tx

; Exclusion report. This report runs through the files in the below file list
; and looks for the coverage tags on and off and adds those sections to the exclude list.
; If this list is not defined a exclude report will not be generated
; File list is releative to this file
exclude_report_list =
  "../hdl_src/can_mac_tx.evlfs"


; Coverage Report Entity list
; Here all entities for which coverage should be reported must be entered.
; the format is "[<library>.]<unit>[(<architecture>)]" . But essentially only the Unit name is enough.
; Use Coverage Report Instance for coverage of a hierarchy.
; This variable have higher priority than cov_report_instance
; Wildcards are allowed
cov_report_entity_list =

; entities to exclude from the coverage report. sub entities in the excluded entity will still be included in the report.
; Leave empty to disable
; Default Empty
exclude_cov_report_entity_list =

; Instance list if a whole Hierarchy is known and should be covered. This defaults til u_dut*.
; cov_report_entity_list have higher priority and will be used over this if its not empty
cov_report_instance = u_dut*

; Instance to exclude from the report
; Leave empty to disable
; Default Empty
exclude_cov_report_instance =


; **************************************************************************** 
; Plugin alint-pro setup
; ****************************************************************************
[ALINT_PRO_SETUP]
; State setting. Defines what state the test is in. 
; three states can be used
; Init - Start state, test will not be included in the report
; In-progress - test will be included but put under its own grouping defining that its in progress
; Done - Will be included in the test report as a finished test. 
state = Done

; Set module name for both vhdl, sim and top file name.
module_name = can_mac_tx

; evlfs root file. This file is the root of all the files that needs to be
; imported and compiled.
; Its possible to use "-lint_exclude" to exclude files from linting
; or "-lint_blackbox" to blackbox files.
root_fs = ${VARIABLES:workspace}/modules/ip_lib/can_bus_controller_fd/can_mac_tx/hdl_src/can_mac_tx.evlfs

; Setup Clock
; the format is followin "<period>,<name>,<pin>"
clocks =
  "10,Input_Clk,can_mac_tx/clk_i"
  
; Setup Reset
; The format is "<clock_name>,<clock_name>,<name>,<pin>,<polarity>"
reset = 
  "Input_Clk,Input_Clk,Input_Rst,can_mac_tx/reset_i,active-high"

; directories which all files should be exclude from alinting from the above list
; remember to indent directories
; use this format "<directory_path>"
hdl_exclude_directory_list = 
  "${VARIABLES:workspace}/support_files/vhdl/registers"

