; Mandatory attributes which is used to select the right test plugin.
[TESTCASE_HEADER]
; The test group name is used in the html report as a groupe ID for the underlying test(s)
; Format is <GrpName>.<SubGrpName>  The Sub groupe name can be used if there are multiple modules to be tested for the same groupe
test_group_name = ip_lib

; **************************************************************************** 
; Plugin simulation setup
; ****************************************************************************
[RIVIERA_PRO_SETUP]
; State setting. Defines what state the test is in. 
; three states can be used
; Init - Start state, test will not be included in the report
; In-progress - test will be included but put under its own grouping defining that its in progress
; Done - Will be included in the test report as a finished test. 
state = Done

; Set module name for both vhdl, sim and top file name.
module_name = gen_crc

; Add all the libraries that are needed for the simulation
; The location of the compiled libraries are either defined in the settings file or is an environment variable.
; Only the tool name and/or the version number is needed. The plugin will resolve the path based on the above information.
; If no version number is given the version defined in the settings file is used IE the path to the tool.
; Format is a python list of tuples: [('tool_name', 'version'),..] or [('tool_name',),..].
;    OBS names must match the settings file for tool paths (not including the _path part)
; Multiple libraries can be added by adding more tuples to the list, but be aware of libraries with conflicting libraies names such as quartus and quartus pro.
;tool_libs = ;[# Default] ;[# list]
tool_libs = [('quartus',''),('vivado',''),('osvvm','')]

; **************************************************************************** 
; Plugin coverage setup
; ****************************************************************************
[COVERAGE_SETUP]
; State setting. Defines what state the test is in. 
; three states can be used
; Init - Start state, test will not be included in the report
; In-progress - test will be included but put under its own grouping defining that its in progress
; Done - Will be included in the test report as a finished test. 
state = Done

; Exclusion report. This report runs throug the files in the below file list
; and looks for the coverage tags on and off and adds thoes sections to the exclude list.
; If this list is not defined a exclude report will not be generated
; File list is releative to this file
exclude_report_list =

; Set module name for both vhdl, sim and top file name.
module_name  = gen_crc


disable_toggle = True



; Coverage Report Entity list
; Here all entities for which coverage should be reported must be entered. 
; the format is "[<library>.]<unit>[(<architecture>)]" . But essentially only the Unit name is enough. 
; Use Coverage Report Instance for coverage of a hierarchy.
; This variable have higher priority than cov_report_instance
; Wildcards are allowed
cov_report_entity_list =
 
; entities to exclude from the coverage report. sub entities in the excluded enity will still be included in the report.
; Leave empty to disable
; Default Empty
exclude_cov_report_entity_list =
 
; Instance list if a whole Hierarchy is known and should be covered. This defaults til u_dut*. 
; cov_report_entity_list have higher priority and will be used over this if its not empty
cov_report_instance = */u_dut*

; Instance to exclude from the report
; Leave empty to disable
; Default Empty
exclude_cov_report_instance =


; **************************************************************************** 
; Plugin alint-pro setup
; ****************************************************************************
[ALINT_PRO_SETUP]
; State setting. Defines what state the test is in. 
; three states can be used
; Init - Start state, test will not be included in the report
; In-progress - test will be included but put under its own grouping defining that its in progress
; Done - Will be included in the test report as a finished test. 
state = Done

; Set module name for both vhdl, sim and top file name.
module_name = gen_crc

; Waiver is used to remove files from the generated report, but they are still processed
; and violation will cause violation on a higher level.
; Waiver commands is base on the syntax for
; [-project <project_name>] -rule {{<rule_name> ... | all}} [-regexp <regexp> ...] {{-directory <directory_name> | -file <file_name> [-range <range> ...] | -unit <unit_name> | -instance <instance_name>}} ... [-comment <comment>] [-f <list_file>]
; each wave command must be encased in ""
; Additionallly using <> to encase a file name will cause the test suite to resolve it. QIP files will be resolved into multiple -rule lines
; if <> is not used the full path to the file should be used.
;  "-rule all -file <../../common/hdl_src/io_bc_common.qip>"
;  "-rule all -file <../hdl_src/network_layer.qip>"
project_waiver =

; Excluding all submodules from linting.
; The top module is defined by the root evlfs file
; All others will be waived, but are still synthizeable.
; this makes it esier to target only current module for linting
; this feature is mutually exclusive with blackbox_all_submodules, but will be overwritten by it.
exclude_all_submodules = False ;[# Default]

; Blackboxing all submodules from linting and synth.
; this feature is the same as exclude_all_submodules, but it will also blackbox the submodules instead.
; this feature is mutually exclusive with exclude_all_submodules, but takes precedence.
blackbox_all_submodules = False ;[# Default]

; Default library for files without library
default_library = ${module_name} ;[# Default]

; evlfs root file. This file is the root of all the files that needs to be
; imported and compiled.
; Its possible to use "-lint_exclude" to exclude files from linting
; or "-lint_blackbox" to blackbox files.
root_fs = ${VARIABLES:workspace}/modules/ip_lib/gen_crc/hdl_src/gen_crc.evlfs

; its possible to create clocks during the design elaboration
; the format is followin "<period>,<name>,<pin>"
clocks =
  "10,Input_Clk,clk_i"

; Setup Reset
; The format is "<clock_name>,<name>,<pin>,<polarity>"
reset = 
  "Input_Clk,Input_Clk,Input_Rst,reset_i,active-high"
