; Mandatory attributes which is used to select the right test plugin.
[TESTCASE_HEADER]
;Plugin name is the name for the plugin to run, adding multiple names will link test in succession. Plugin format is <plugin_name>.<Version>
;Note setups must be added for all the plugins
plugin_list    = simulation:1.0

; The test group name is used in the html report as a groupe ID for the underlying test(s)
; Format is <GrpName>.<SubGrpName>  The Sub groupe name can be used if there are multiple modules to be tested for the same groupe
test_group_name = ip_lib

; **************************************************************************** 
; Plugin simulation setup
; ****************************************************************************
[RIVIERA_PRO_SETUP]
; State setting. Defines what state the test is in. 
; three states can be used
; Init - Start state, test will not be included in the report
; In-progress - test will be included but put under its own grouping defining that its in progress
; Done - Will be included in the test report as a finished test. 
state = Done

; Set module name for both vhdl, sim and top file name.
module_name = gen_crc_model

; Add all the libraries that are needed for the simulation
; The location of the compiled libraries are either defined in the settings file or is an environment variable.
; Only the tool name and/or the version number is needed. The plugin will resolve the path based on the above information.
; If no version number is given the version defined in the settings file is used IE the path to the tool.
; Format is a python list of tuples: [('tool_name', 'version'),..] or [('tool_name',),..].
;    OBS names must match the settings file for tool paths (not including the _path part)
; Multiple libraries can be added by adding more tuples to the list, but be aware of libraries with conflicting libraies names such as quartus and quartus pro.
;tool_libs = ;[# Default] ;[# list]
tool_libs = [('quartus',''),('vivado',''),('osvvm','')]
